@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: dark) {
    body {
        background-color: #23262c;
        background-image: url("/src/assets/bg-dark.png");
        color : white
    }
}


@media (prefers-color-scheme: light) {
    body {
        background-color: #e6e6e6;
        background-image: url("/src/assets/bg-light.png");
        color : rgb(0, 0, 0)
    }
}